.banner{
    position: relative;
}
.bannerImagem{
    background: url('../img/banner.jpg') no-repeat center / cover;
    width:100%;
    
}
.bannerTitulo{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    position: absolute;
    left: 50% ;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate( -50%, -50%);
    width: 100%;
}
@media screen and (min-width:0) {
    .bannerTitulo{
        font-size: 3rem;
    }
    .bannerImagem{
        height: calc(100vh - 51px);
    }
}
@media screen and (min-width: 768px) {
    .bannerTitulo{
        font-size: 5.0625rem;
    }
    .bannerImagem{
        height: calc(100vh - 72px);
    }
}